<!-- NOMBRE: Maria del Carmen Hernandez Diaz
ACCOUNT: 1718110389
GROUP: TIC 51
DATE: 27-06-2020
DESCRIPTION: Formulario HTML5, haciendo uso de Bulma y Web.py. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ETIQUETAS REQUERIDAS -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OBTENCION DE ESTILOS - BULMA -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>Bulma & Web.py!</title>
</head>

<!-- HERO DEGRADADO - ENCABEZADO -->

<section class="hero is-fullwidth is-danger is-bold">
    <nav class="hero-body">
        <nav class="field is-grouped">
            <!-- CLASE QUE PERMITE QUE LOS ELEMENTOS ESTEN JUNTOS EN FORMA DE FILA -->

            <figure class="image is-128x128">
                <img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c64cfe3-bb3b-4ae8-b5a6-d2f39d21ff87/d3jme6i-8c702ad4-4b7a-4763-9901-99f8b4f038b0.png/v1/fill/w_600,h_400,strp/fondo_transparente_png_by_imsnowbieber_d3jme6i-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDAiLCJwYXRoIjoiXC9mXC85YzY0Y2ZlMy1iYjNiLTRhZTgtYjVhNi1kMmYzOWQyMWZmODdcL2Qzam1lNmktOGM3MDJhZDQtNGI3YS00NzYzLTk5MDEtOTlmOGI0ZjAzOGIwLnBuZyIsIndpZHRoIjoiPD02MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.2JrgW8AXhfVCeL3tOxOnIhsWLlL5MTuntOq0HfeK6CA">
            </figure>
            <figure class="image is-128x128">
                <img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c64cfe3-bb3b-4ae8-b5a6-d2f39d21ff87/d3jme6i-8c702ad4-4b7a-4763-9901-99f8b4f038b0.png/v1/fill/w_600,h_400,strp/fondo_transparente_png_by_imsnowbieber_d3jme6i-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDAiLCJwYXRoIjoiXC9mXC85YzY0Y2ZlMy1iYjNiLTRhZTgtYjVhNi1kMmYzOWQyMWZmODdcL2Qzam1lNmktOGM3MDJhZDQtNGI3YS00NzYzLTk5MDEtOTlmOGI0ZjAzOGIwLnBuZyIsIndpZHRoIjoiPD02MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.2JrgW8AXhfVCeL3tOxOnIhsWLlL5MTuntOq0HfeK6CA">
            </figure>

            <!-- TEXTO DE BIENVENIDA, SIZE 1 TIPO: PARRAFO -->

            <p class="is-size-1 has-text-weight-bold is-family-monospace has-text-white has-text-centered">Bienvenido.
            </p>

            <!-- TEXTO DE EMPRESA, TIPO: H5 -->

            <h5 class="title is-5">Kaplan@</h5>


            <!-- LINKS IMAGENES USADAS -->

            <figure class="image is-128x128">
                <img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c64cfe3-bb3b-4ae8-b5a6-d2f39d21ff87/d3jme6i-8c702ad4-4b7a-4763-9901-99f8b4f038b0.png/v1/fill/w_600,h_400,strp/fondo_transparente_png_by_imsnowbieber_d3jme6i-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDAiLCJwYXRoIjoiXC9mXC85YzY0Y2ZlMy1iYjNiLTRhZTgtYjVhNi1kMmYzOWQyMWZmODdcL2Qzam1lNmktOGM3MDJhZDQtNGI3YS00NzYzLTk5MDEtOTlmOGI0ZjAzOGIwLnBuZyIsIndpZHRoIjoiPD02MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.2JrgW8AXhfVCeL3tOxOnIhsWLlL5MTuntOq0HfeK6CA">
            </figure>
            <figure class="image is-128x128 is-3by1">
                <img class="is-rounded"
                    src="https://images.pexels.com/photos/4618513/pexels-photo-4618513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </figure>
            <figure class="image is-32x32">
                <img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c64cfe3-bb3b-4ae8-b5a6-d2f39d21ff87/d3jme6i-8c702ad4-4b7a-4763-9901-99f8b4f038b0.png/v1/fill/w_600,h_400,strp/fondo_transparente_png_by_imsnowbieber_d3jme6i-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDAiLCJwYXRoIjoiXC9mXC85YzY0Y2ZlMy1iYjNiLTRhZTgtYjVhNi1kMmYzOWQyMWZmODdcL2Qzam1lNmktOGM3MDJhZDQtNGI3YS00NzYzLTk5MDEtOTlmOGI0ZjAzOGIwLnBuZyIsIndpZHRoIjoiPD02MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.2JrgW8AXhfVCeL3tOxOnIhsWLlL5MTuntOq0HfeK6CA">
            </figure>
            <figure class="image is-128x128 is-3by1">
                <img class="is-rounded"
                    src="https://images.pexels.com/photos/1909830/pexels-photo-1909830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </figure>
            <figure class="image is-32x32">
                <img
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c64cfe3-bb3b-4ae8-b5a6-d2f39d21ff87/d3jme6i-8c702ad4-4b7a-4763-9901-99f8b4f038b0.png/v1/fill/w_600,h_400,strp/fondo_transparente_png_by_imsnowbieber_d3jme6i-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDAiLCJwYXRoIjoiXC9mXC85YzY0Y2ZlMy1iYjNiLTRhZTgtYjVhNi1kMmYzOWQyMWZmODdcL2Qzam1lNmktOGM3MDJhZDQtNGI3YS00NzYzLTk5MDEtOTlmOGI0ZjAzOGIwLnBuZyIsIndpZHRoIjoiPD02MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.2JrgW8AXhfVCeL3tOxOnIhsWLlL5MTuntOq0HfeK6CA">
            </figure>
            <figure class="image is-128x128 is-3by1">
                <img class="is-rounded"
                    src="https://images.pexels.com/photos/2440296/pexels-photo-2440296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </figure>
        </nav>
        <figure class="image is-32x32">
            <img
                src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c64cfe3-bb3b-4ae8-b5a6-d2f39d21ff87/d3jme6i-8c702ad4-4b7a-4763-9901-99f8b4f038b0.png/v1/fill/w_600,h_400,strp/fondo_transparente_png_by_imsnowbieber_d3jme6i-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDAiLCJwYXRoIjoiXC9mXC85YzY0Y2ZlMy1iYjNiLTRhZTgtYjVhNi1kMmYzOWQyMWZmODdcL2Qzam1lNmktOGM3MDJhZDQtNGI3YS00NzYzLTk5MDEtOTlmOGI0ZjAzOGIwLnBuZyIsIndpZHRoIjoiPD02MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.2JrgW8AXhfVCeL3tOxOnIhsWLlL5MTuntOq0HfeK6CA">
        </figure>
    </nav>

    </strong>
</section>

<!-- SECCION FORMULARIO -->

<section class="hero is-bold">
    <nav class="hero-body">
        <nav class="columns is-centered">
            <nav class="column is-half">
                <form method="GET">

                    <!-- MATRICULA -->

                    <label class="label" form="matricula">Matricula:</label>
                    <nav class="field">
                        <nav class="control">
                            <input name="matricula" type="number" class="input is-danger" placeholder="17181103890"
                                required>
                        </nav>
                    </nav>

                    <!-- NOMBRE -->

                    <label class="label" form="name">Nombre:</label>
                    <nav class="field">
                        <nav class="control">
                            <input name="name" type="text" class="input is-danger" placeholder="Carmen" required>
                        </nav>
                    </nav>

                    <!-- APELLIDO PATERNO -->

                    <label class="label" form="pa">Primer Apellido:</label>
                    <nav class="field">
                        <nav class="control">
                            <input name="pa" type="text" class="input is-danger" placeholder="Armstrong" required>
                        </nav>
                    </nav>

                    <!-- APELLIDO MATERNO -->

                    <label class="label" form="ma">Segundo Apellido:</label>
                    <nav class="field">
                        <nav class="control">
                            <input name="ma" type="text" class="input is-danger" placeholder="Kaplan" required>
                        </nav>
                    </nav>

                    <!-- EDAD -->

                    <label class="label" form="edad">Edad:</label>
                    <nav class="field">
                        <nav class="control">
                            <input min="1" max="120" name="edad" type="number" class="input is-danger" placeholder="19"
                                required>
                        </nav>
                    </nav>

                    <!-- FECHA - NACIMIENTO -->

                    <label for="date" class="label">Fecha de nacimiento: </label>
                    <nav class="control">
                        <input type="date" class="input is-danger" placeholder="aaaa-mm-dd" name="date" min="1950-01-01"
                            required>
                    </nav>
                    <br>

                    <!-- SEXO -->

                    <label class="label">Sexo: </label>
                    <nav class="field is-grouped">
                        <nav class="control">
                            <label class="radio">
                                <input type="radio" name="radiobutton">Femenino</label>
                            <label class="radio">
                                <input type="radio" name="radiobutton" checked>Masculino</label>
                        </nav>
                    </nav>

                    <!-- ESTADO CIVIL -->

                    <br>
                    <label class="label">Estado: </label>
                    <nav class="field has-addons">
                        <nav class="control is-expanded">
                            <nav class="select is-fullwidth is-warning">
                                <select name="estado">
                                    <label form="estado">Estado:</label>

                                    <!-- OPCIONES DE ESTADO CIVIL -->

                                    <option value="soltero">Soltero</option>
                                    <option value="casado">Casado</option>
                                    <option value="divorciado">Divorciado</option>
                                    <option value="libre">Union libre</option>
                                </select>
                            </nav>
                        </nav>
                        <!-- BOTON VISTA DE SELECCION, PERTENECE A SELECCION DE ESTADO CIVIL -->

                        <nav class="control">
                            <button class="button is-danger">Seleccionar</button>
                        </nav>
                    </nav>

                    <br>
                    <!-- BOTON GUARDAR -->

                    <button class="button is-warning is-focused is-large" type="submit">Guardar</button>

                    <!-- BOTON CANCELAR -->

                    <button class="button is-warning is-focused is-large" type="reset">Cancelar</button>
                </form>

</section>

<!-- PIE DE PAGINA, COLOR: CORAL -->

<footer class="footer" style="background-color: coral;">
    <nav class="content is-fullwidth has-text-centered">
        <!-- CONTENIDO CENTRADO -->

        <p>
            <strong class="has-text-weight">Kaplan</strong>
            <br>

            <!-- HIPERVINCULO HACIA LA PAGINA OFICIAL DE BULMA -->

            <a class="has-text-weight-bold has-text-white" href="https://bulma.io/"> Creado con Bulma.</a>
        </p>
    </nav>
</footer>

</html>